<%= page_nav_html %>

<div class="pure-g media-grid<%= env.get?("playlist_library") == true ? " playlist-library" : "" %>">
    <%- items.each_with_index do |item, item_position| -%>
        <%= rendered "components/item" %>
    <%- end -%>
</div>

<%= page_nav_html %>

<script id="pagination-data" type="application/json">
<%=
{
   "next_page" => I18n.translate(locale, "Next page"),
   "prev_page" => I18n.translate(locale, "Previous page"),
   "is_rtl"    => I18n.locale_is_rtl?(locale)
}.to_pretty_json
%>
</script>

<script src="/js/watched_indicator.js"></script>
